body {
    background-color: #000;
    background-image: url('../img/killo.jpeg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.bio {
    text-align: center;
}

.bio h1 {
    font-size: 50px;
    font-weight: bolder;
}

.bio h6 {
    font-size: 15px;
    font-family: monospace;
    font-weight: 200;
    letter-spacing: 3px;
    margin-top: -35px;
    color: rgb(255, 255, 3);
}

.contact {
    background-color: rgba(25, 25, 119, 0.612);
    width: 50%;
    padding: 150px;
    margin-right: 50%;
    margin-left: 5%;
    text-align: center;
    margin-top: 100px;
}

.contact h2 {
    margin-top: -100px;
    font-size: 30px;
}

.contactlabel {
    color: rgb(255, 255, 3);
    letter-spacing: 3px;
    margin-bottom: 100px;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
